.hero {
    background-color: $backgroundColor;
    margin: 0 auto;
    width: 100%;

    &__background {
        background-color: $backgroundColor;
        background-image: $bgGradient, url(../images/hero-bg-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 auto;
        padding-top: 118px;
        padding-bottom: 118px;
        background-position: center;
    }

    &__title {
        font-size: 26px;
        font-weight: 900;
        color: $mainLightColor;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        max-width: 365px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    &__button {
        color: $mainLightColor;
        font-family: 'Roboto', serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        background: $primaryColor;
        text-align: center;
        display: block;
        margin: auto;
        cursor: pointer;
        box-shadow: 0px 4px 4px $buttonBorderColor;
        border-radius: 4px;
        border-style: none;
        padding: 10px 42px;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .hero__background {
            background-image: $bgGradient,
                url('../images/hero-bg-mobile@2x.jpg');
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        &__background {
            background-image: $bgGradient, url(../images/hero-bg-tablet.jpg);
        }

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero__background {
                background-image: $bgGradient,
                    url('../images/hero-bg-tablet@2x.jpg');
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        max-width: 1600px;
        &__background {
            display: flex;
            align-content: center;
            padding-top: 200px;
            padding-bottom: 200px;
            max-width: 1600px;
            background-image: $bgGradient, url(../images/hero-bg.jpg);
        }
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero__background {
                background-image: $bgGradient, url('../images/hero-bg@2x.jpg');
            }
        }
    }
}
