.logo {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 400;
    color: $primaryColor;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-text {
    &--black {
        color: $logoTextDark;
    }
    &--white {
        color: $mainLightColor;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        font-weight: 700;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        font-size: 26px;
        line-height: 1.19;
    }
}
