.logo {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: $primaryColor;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-text {
    &--black {
        color: $logoTextDark;
    }
    &--white {
        color: $mainLightColor;
    }
}
