.newsletter {
    &__title {
        font-weight: 700;
        line-height: 1,14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $mainLightColor;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 14px;
    }
    &__field {
        display: flex;
        justify-content: space-between;
    }
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    &__mail {
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: $backgroundColor;
        border-radius: 4px;
        outline: none;
        max-width: 450px;
        padding: 16px 387px 15px 15px;
    }
    &__btn {
        padding: 13px 28px 13px 42px;
        background: $primaryColor;
        box-shadow: 0px 4px 4px $buttonBorderColor;
        border-radius: 4px;
        border: 0;
        display: flex;
        align-items: center;
        text-align: center;
        color: $mainLightColor;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        cursor: pointer;
        align-self: center;
    }
    &__icon {
        fill: $mainLightColor;
        margin-left: 23px;
    }
}
@media screen and (min-width: 768px) {
    .newsletter {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    .newsletter {
        margin:0 auto;

        &__mail {
            min-width: 358px;
            padding: 16px 204px 15px 15px;
        }
        &__form {
            flex-direction: row;
            gap: 12px;
        }
        &__title {
            text-align: left;
        }
    }
}
