body {
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: $mainFontColor;
    text-decoration: none;
}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
img {
    display: block;
    max-width: 100%;
    height: auto;
  }
/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
} */
