body {
    font-family: 'Roboto', serif;
    font-size: 14px;
    color: $mainFontColor;
    text-decoration: none;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}