$primaryColor: #2196f3;
$logoTextDark: #000000;
$mainFontColor: #212121;
$contactColor: #757575;
$contactColorFooter: rgba(255, 255, 255, 0.6);
$mainLightColor: #ffffff;
$backgroundColor: #2f303a;
$buttonColor: #f5f4fa;
$borderColor: #ececec;
$itemBorderColor: #eeeeee;
$strokeColor: #afb1b8;
$footerCircleBg: rgba(255, 255, 255, 0.1);
$gradientColor: rgba(47, 48, 58, 0.4);
$buttonBorderColor: rgba(0, 0, 0, 0.15);
$boxShadowColor: rgba(0, 0, 0, 0.12);
